CREATE TABLE msg_recv (
	id int (25) NOT NULL AUTO_INCREMENT ,
	type char (1)  ,
	created datetime NULL ,
	status char (1)  ,
	updated datetime NULL ,
	userid char (60)  ,
	msgid char (20)  ,
	patient_externalid char (20)  ,
	patient_id char (15)  ,
	patient_lastname char (20)  ,
	patient_firstname char (15)  ,
	patient_middle char (15)  ,
	patient_dob datetime NULL ,
	patient_sex char (1)  ,
	patient_status char (1)  ,
	patient_address text  ,
	patient_city char (25)  ,
	patient_state char (2)  ,
	patient_zip char (10)  ,
	patient_telhome char (20)  ,
	patient_telwork char (20)  ,
	patient_marital char (1)  ,
	patient_account char (20)  ,
	patient_race char (1)  ,
	patient_ssn char (15)  ,
	visit_externalid char (20)  ,
	visit_accession char (20)  ,
	visit_scheduled datetime NULL ,
	visit_requestor char (50)  ,
	visit_exam char (50)  ,
	visit_char1 char (50)  ,
	visit_char2 char (50)  ,
	visit_char3 char (50)  ,
	visit_char4 char (50)  ,
	ins1_comp_id char (10)  ,
	ins1_comp_name char (50)  ,
	ins1_address text  ,
	ins1_city char (25)  ,
	ins1_state char (2)  ,
	ins1_zip char (10)  ,
	ins1_phone char (20)  ,
	ins1_group char (20)  ,
	ins1_policy char (20)  ,
	ins2_comp_id char (10)  ,
	ins2_comp_name char (50)  ,
	ins2_address text  ,
	ins2_city char (25)  ,
	ins2_state char (2)  ,
	ins2_zip char (10)  ,
	ins2_phone char (20)  ,
	ins2_group char (20)  ,
	ins2_policy char (20)  ,
	error text,
PRIMARY KEY (id) 
) ;
