CREATE TABLE msg_send (
	id int (15) NOT NULL AUTO_INCREMENT ,
	type char (1) ,
	created datetime NOT NULL ,
	status char (1) ,
	updated datetime NULL ,
	errorcode char (10) ,
	errormsg text ,
	patient_id char (15) NOT NULL ,
	patient_lastname char (50) ,
	patient_firstname char (50) ,
	patient_middle char (50) ,
	patient_dob datetime NULL ,
	patient_sex char (1) ,
	patient_status char (1) ,
	visit_id char (10) ,
	visit_accession char (50) NOT NULL,
	visit_scheduled datetime NULL ,
	visit_requestor char (50) ,
	visit_exam char (50) ,
	visit_char1 char (50) ,
	visit_char2 char (50) ,
	visit_char3 char (50) ,
	visit_char4 char (50) ,
PRIMARY KEY (id)
) ;

INSERT INTO msg_send (
	type ,
	status,
	created,
	patient_id,
	patient_lastname ,
	patient_firstname ,
	patient_middle ,
	patient_dob,
	patient_sex,
	visit_id,
	visit_accession,
	visit_char1,
	visit_requestor,
	visit_exam)
values
	(
	'0',
	'0',
	'2006-02-09 12:00:00',
	'135353454',
	'ROBBINS',
	'TOM',
	'J',
	'1967-11-25' ,
	'F',
	'34135155',
	'43254151',
	'VCL^Waltham',
	'12345^Smith^Jane',
	'VEN^VENOUS'
	);
INSERT INTO msg_send (
	type ,
	status,
	created,
	patient_id,
	patient_lastname ,
	patient_firstname ,
	patient_middle ,
	patient_dob,
	patient_sex,
	visit_id,
	visit_accession,
	visit_char1,
	visit_requestor,
	visit_exam,
	visit_scheduled)
values
	(
	'0',
	'0',
	'2006-03-01 12:00:00',
	'135353454',
	'JONES',
	'JILL',
	'M',
	'1945-12-01' ,
	'F',
	'3419895',
	'4325222',
	'VLP^Warren 9',
	'12345^Smith^Jane',
	'ADE^ABDOMINAL DUPLEX EXAM',
	'2006-03-21 16:00:12'
	);

INSERT INTO msg_send (
	type ,
	status,
	created,
	patient_id,
	patient_lastname ,
	patient_firstname ,
	patient_middle ,
	patient_dob,
	patient_sex,
	visit_id,
	visit_accession,
	visit_char1,
	visit_requestor,
	visit_exam,
	visit_scheduled)
values
	(
	'0',
	'0',
	'2006-03-01 12:00:00',
	'135353454',
	'JONES',
	'JILL',
	'M',
	'1945-12-01' ,
	'F',
	'3419895',
	'4325222',
	'VLP^Warren 9',
	'12345^Smith^Jane',
	'VEN^VENOUS',
	'2006-04-12 15:45:00'
	);
